pipeline/Load_rec_500_more_productSql_to_adls_lookup.json
{
	"name": "Load_rec_500_more_productSql_to_adls_lookup",
	"properties": {
		"activities": [
			{
				"name": "GetCutomerRecord",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as RecordsCount from [SalesLT].[Customer]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Niha_DB_Customer_DS",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetCutomerRecord",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('GetCutomerRecord').output.firstRow",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}