pipeline/Product_Child_Pipeline_dynamic.json
{
	"name": "Product_Child_Pipeline_dynamic",
	"properties": {
		"activities": [
			{
				"name": "GetProductRecordsCount",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as ProductRecordsCount from [SalesLT].[Product]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Niha_DB_Customer_DS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If_ProductCount_greater_200",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetProductRecordsCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('GetProductRecordsCount').output.firstRow.ProductRecordsCount,200)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy_Product_adls",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQL_DB_Product_DS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "adlsgen2_dynamic_csv_DS",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}